@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


.font-urbanist {
  font-family: 'Urbanist', sans-serif;
}

.font-jetbrains {
  font-family: 'JetBrains Mono', monospace;
}


